<html>

<head>
    <title>TimeFork</title>
</head>

<body>
    <link rel="stylesheet" href="css/style.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/jquery-ui-git.css" />-->
    <script src="js/queue.v1.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/horizon.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/encog-js-1.0.js"></script>
    <script src="js/encog-widget-js-1.0.js"></script>
    <script src="js/brain-0.6.0.min.js"></script>
    <script src="js/stockVis-prediction.js"></script>
    <script src="js/stockVis-overviewhorizonchart.js"></script>
    <script src="js/stockVis-correlationviewer.js"></script>
    <script src="js/stockVis-stock.js"></script>
    <script src="js/stockVis-spatialprediction.js"></script>
    <script src="js/stockVis-temporalprediction1.js"></script>
    <script src="js/stockVis-linechart.js"></script>
    <script src="js/stockVis.client.js"></script>

    <div class="content">
        <div id="linechart-viz">
            <div id="linecharts">
            </div>
        </div>

        <div id="add_button"></div>

        <div class="right">

            <div class="ui-widget" id="search_box">
                <input id="search" size="32" value="Search here!" />
            </div>

            <div id="choosestock">

                <select name="stocks" multiple="multiple" id="stocklist"></select>

            </div>

            

            <div id="correlation-viewer"></div>

            
            <div id="twitter-viewer">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/stocks" data-widget-id="626976049797177344">#stocks Tweets</a>
                <script>
                    ! function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div>
        </div>

        <div class="bottom">
            <div id="overviewchart-viz"></div>

        </div>

        <div id="dialog-confirm" title="Confirm Prediction"></div>
    </div>
</body>

</html>