<html>

<head>
    <title>TimeFork</title>
</head>

<body>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/progress-wizard.min.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/jquery-ui-git.css" />-->
    <script src="js/queue.v1.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/encog-js-1.0.js"></script>
    <script src="js/encog-widget-js-1.0.js"></script>
    <script src="js/brain-0.6.0.js"></script>

    <script src="js/stockVis-overviewchart.js"></script>
    <script src="js/stockVis-correlationviewer.js"></script>
    <script src="js/stockVis-prediction.js"></script>
    <script src="js/stockVis-stock.js"></script>
    <script src="js/stockVis-spatialprediction.js"></script>
    <script src="js/stockVis-temporalprediction1.js"></script>
    <script src="js/stockVis-linechart.js"></script>
    <script src="js/stockVis.client.js"></script>

    <div class="content">
        <div id="linechart-viz">
        </div>

        <div id="earnings-div">
            <br/>
            <br/> Hi, <span>Guest,</span>
            <br/>
            <br/> You currently have $<span id="currentEarnings">100,000</span> earnings.
            <br/>
            <br/> You invested
            <br/>
            <div id="investmentDiv">
                
                <li>$<span id="currentInvestmentAAPL"><input id="investStockAAPL" class="investStock" type="number" min=10000 max=100000 step=100 value=0 /></span> on Apple</li>
                <li>$<span id="currentInvestmentFB"><input id="investStockFB" class="investStock" type="number" min=10000 max=100000 step=100 value=0 /></span> on Facebook</li>
                <li>$<span id="currentInvestmentTSLA"><input id="investStockTSLA" class="investStock" type="number" min=10000 max=100000 step=100 value=0 /></span> on Tesla</li>
                <br/>
            </div>

            <br/>
            <div id="investButtonsDiv">
                <button id="saveButton" class="button">Evaluate</button>
            </div>
        </div>

        <div class="bottom">
            <ul class="progress-indicator">
                <li id="step1"> <span class="bubble"></span> Step 1. </li>
                <li id="step2"> <span class="bubble"></span> Step 2. </li>
                <li id="step3"> <span class="bubble"></span> Step 3. </li>
                <li id="step4"> <span class="bubble"></span> Step 4. </li>
            </ul>
        </div>

        <!--<div id="overviewchart-viz"></div>-->

    </div>

    </div>
</body>

</html>