<html>

<head>
    <title>TimeFork</title>
</head>

<body>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/progress-wizard.min.css" />
    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/jquery-ui-git.css" />-->
    <script src="js/queue.v1.min.js"></script>
    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/encog-js-1.0.js"></script>
    <script src="js/encog-widget-js-1.0.js"></script>
    <script src="js/brain-0.6.0.js"></script>

    <script src="js/stockVis-overviewchart.js"></script>
    <script src="js/stockVis-correlationviewer.js"></script>
    <script src="js/stockVis-prediction.js"></script>
    <script src="js/stockVis-stock.js"></script>
    <script src="js/stockVis-spatialprediction.js"></script>
    <script src="js/stockVis-temporalprediction1.js"></script>
    <script src="js/stockVis-linechart.js"></script>
    <script src="js/stockVis.client.js"></script>

    <div class="content">
        <div id="linechart-viz">
        </div>

        <div id="earnings-div">
            <br/>
            <br/> Hi, <span>Guest,</span>
            <br/>
            <br/> You currently have $<span id="currentEarnings">100,000</span> earnings!
            <br/>
            <br/> You invested
            <li>$<span id="currentInvestmentAAPL">0</span> on Apple</li>
            <li>$<span id="currentInvestmentFB">0</span> on Facebook</li>
            <li>$<span id="currentInvestmentTSLA">0</span> on Tesla</li>

            <br/>
            <br/> Your options are
            <br/>
            <br/> Invest
            <input id="investStock" type="number" min=10000 /> in
            <select id="stockOptions">
                <option value="AAPL">Apple</option>
                <option value="FB">Facebook</option>
                <option value="TSLA">Tesla</option>
            </select>

            <br/>
            <br/>
            <button id="investButton" class="button">Invest</button>
            <button class="button" id="saveButton">Evaluate</button>
        </div>

<!--
        <div class="button" id="clearButton">Clear</div>
        <div class="button" id="undoButton">Undo</div>
-->     
<!--
        <div class="button" id="forward">Forward</div>
        <div class="button" id="fast-forward">Fast-Forward</div>
-->

        <div class="bottom">
            <ul class="progress-indicator">
                <li id="step1"> <span class="bubble"></span> Step 1. </li>
                <li id="step2"> <span class="bubble"></span> Step 2. </li>
                <li id="step3">  <span class="bubble"></span> Step 3. </li>
                <li id="step4"> <span class="bubble"></span> Step 4. </li>
            </ul>
        </div>

        <!--<div id="overviewchart-viz"></div>-->

    </div>

    </div>
</body>

</html>