body, html { /* set size of body to full page and remove margins */
    width: 99%;
    height: 99%;
    padding: 5px;
    margin: 0;
}

#stocklist {
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 50%;
    padding: 5px;
}

#button_panel {
    height: 50px;
}

option.ui-widget-content {
    margin: 2px;
    padding: 3px;
    font-family: 'Helvetica','Arial', 'Lato', 'serif';
    font-size: 12px;
    font-weight: 500;
    height: 18px;
    cursor: pointer;
    border: 1px solid;
}

#next_button {
    background: url('../images/next_button.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#next_button:hover{
    background: url('../images/next_button.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    -moz-box-shadow: 0px 0px 5px #666;
    -webkit-box-shadow: 0px 0px 5px #666;
    box-shadow: 0px 0px 5px #666;
}

#next_button:click{
    background: url('../images/next_button.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

#add_button {
    background: url('../images/add_grey.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#add_button:hover{
    background: url('../images/add_color.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

#remove_button {
    background: url('../images/remove_grey.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#remove_button:hover{
    background: url('../images/remove_color.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

#expand_button {
    background: url('../images/expand_grey.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#expand_button:hover{
    background: url('../images/expand_color.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.expandClass {
    background: url('../images/expand_grey.png');
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    float: right;
}

.expandClass:hover{
    background: url('../images/expand_color.png');
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    float: right;
}

#settings_button {
    background: url('../images/settings_grey.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#settings_button:hover {
    background: url('../images/settings_color.png');
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D9D9D9;
    shape-rendering: crispEdges;
}

.x.axis path {
    stroke: #D9D9D9;
    shape-rendering: crispEdges;
}
.overlay {
    fill: none;
    pointer-events: all;
}

.rect {
    fill: rgba(217, 217, 217, 0.1);
    stroke: rgba(217, 217, 217, 0.2);
}


g.context rect.background {
    fill: transparent;
    visibility: visible !important;
}

g.context g.brush rect.background {
    fill: rgba(1, 1, 1, 0.5);
}

g.context g.axis path {
    stroke-opacity: 0;
}

g.context g.brush rect.background {
    fill: transparent;
}

g.context g.brush rect.extent {
    stroke: #ffffff;
    fill-opacity: .25;
    shape-rendering: crispEdges;
    z-index: 3;
}

g.context g.axis line {
    stroke-opacity: 0.1;
}

svg {
    font-family: 'Helvetica','Lato', Arial, serif;
    font-size: 9px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    border: 1px solid rgba(217, 217, 217, 0.2);
}

.predictionChart {
    position: relative;
    left: 483px;
    top: 0px;
    float: left;
}

.Person-title {
    font-family: 'Helvetica','Lato', Arial, serif;
    font-size: 12px;
    font-weight: 100;
}

.instructions {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
}

g.tick text {
    color: rgba(244, 0, 0, 0.5);
}

#dialog-confirm{
    visibility: visible;
    width: auto;
    height: auto;
}

.ui-dialog {
    visibility: visible;
    font-family: 'Helvetica','Arial', 'Lato', 'serif';
    font-size: 11px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
}

.content #linechart-viz {
    float: left;
    color: #D9D9D9;
    overflow-y: hidden;
    width: 85%;
    height: 80%;
    float: left;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.content #linechart-viz .stockChart {
    width: 480px;
    height: 320px;
    padding: 0px;
    float: left; 
    border: 1px solid rgba(180, 180, 180, 0.2);
    /*display: compact;*/
    overflow-x: scroll;
}

.volumeBar {
    float:bottom;
    vertical-align: bottom;
}

.content #linechart-viz:hover{
    overflow-y: scroll;
}

.content .bottom {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 73%;
    font-family: 'Helvetica','Lato', 'Arial', 'serif';
    font-size: 14px;
    font-weight: 500;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;

}

.content .bottom #overviewchart-viz {
    float: left; 
    background-color: rgba(255,255,255,0.8);
}

.overviewchart {
    margin-left: auto;
    margin-right: auto;
    display:block;
    border: 1px;
    background-color: #EEEEEE;
}

.content .bottom #correlation-viewer {
    font-family: 'Helvetica','Lato', 'Arial', 'serif';
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(255,255,255,0.8);
}

.content .right {
    width: 15%;
    height: 100%;
    float: right;
    font-family: 'Helvetica','Lato', 'Arial', 'serif';
    font-size: 14px;
    font-weight: 500;
}
 
.predictionLine {
     stroke-dasharray: 3,3;
     stroke-width: 2px;
}

#search_box {
    font-family: 'Helvetica','Arial', 'Lato', 'serif';
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    padding: 0px;
}

input#search {
    width: 100%;
    font-family: 'Helvetica','Arial', 'Lato', 'serif';
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    padding: 0px;
}

div#prediction_buttons {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div#prediction_buttons table {
    background-color: #D9D9D9;
}
    
div#prediction_buttons table td{
    padding: 3px;
}

div.ui_button {
    width: auto;
    height: 30px;
    background-color: #aaa;
    font-family: 'Helvetica','Lato', 'Arial', 'serif';
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 30px; 
    border: 1px solid; 
    padding: 3px;
}

div.ui_button:hover {
    background-color: #888  ;
    
}

.ui_button label {
    display: inline-block;
    vertical-align: middle;
}

#correlation-viewer_label {
    padding: 0px;
    border: 1px solid #ddd;
}

.ui-dialog-content{
    background-color: #ccc;
}

.ui-widget-content {
    background-color: #ffffff;
    border: 1px solid #222;
}

.ui-dialog-titlebar {
    background-color: #888;
}

